.section-title{
    color:black;
    font-size: 30px;
    text-align: center;
}
.title-search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}